# VITE_SUPABASE_URL=https://your-project.supabase.co
# VITE_SUPABASE_PUBLISHABLE_KEY=your-anon-key
VITE_SUPABASE_URL=https://dyynbzbpitjoyfrxnxux.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_OUbjuJu0S8QidaNM5aBpcg_7bVC1hwJ
